# node
node_modules
package-lock.json
yarn.lock
pnpm-lock.yaml

# Next.js 빌드 결과물
.next
out
build
.next-static

# 테스트/커버리지
coverage
.nyc_output

# 환경 변수 / 설정
.env
.env*.local

# 로그 / 캐시
*.log
.cache
.next/cache
.turbo

# OS/IDE
.DS_Store
.vscode
.idea

# 기타 생성 파일
public/**/*.min.js
public/**/*.min.css
public/generated